body{
    margin: 0%;
    padding:0%;
    font-family: Arial, sans-serif;
    background-color: #fff;
    background-image: url(red-bull-8143008.jpg);
    background-repeat: no-repeat;
    background-size: cover;

} 
p{
    color: rgb(3, 3, 3);
    font-size: 23px;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
}
img{
    float: left;
    display: block;
    border: 10px solid #999;
    margin-left: auto;
    margin-right: 20px;
    width: 50%;
    border-radius: 50px;
}